asgiref
attrs
backports.zoneinfo
Django
djangorestframework
djangorestframework-simplejwt
drf-spectacular
importlib_resources
inflection
jsonschema
jsonschema-specifications
pkg_resources
pkgutil_resolve_name
PyJWT
PyYAML
referencing
rpds-py
setuptools
sqlparse
typing_extensions
uritemplate
zipp